.play__now-title {
    font-size: 34px;
    font-weight: 600;
    text-align: center;
    margin: 10px 0;
}

.play__now-discription {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
}

.btn-play {
    width: 100px;
    height: 40px;
    background-color: green;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}