.btn {
    border-radius: 15px;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;

}

.btn--secondary {
    background-color: aqua;
}

.btn--primary {
    background-color: pink;
}

.btn--small {
    background-color: green;
}

.btn--medium {
    background-color: rgb(119, 121, 118);
}