.play__cover {
    min-height: 560px;
    max-width: 640px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    cursor: pointer;
}