.order__total-price {
    font-size: 24px;
    font-weight: 600;
}

.total__price {
    font-size: 24px;
    font-weight: 600;
}

@media screen and (max-width: 800px) {
    .order__total-price span {
        font-size: 18px;
    }

}