.cart__wrapper {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.cart__title {
    font-size: 24px;
    font-weight: 600;

}

.cart__price {
    padding: 0 15px;
    font-weight: 600;
}

.close {
    cursor: pointer;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 450px) {
    .cart__title {
        font-size: 18px;
    }

}