.console__cover {
    /* max-width: 340px; */
    /* max-width: 286px; */
    /* width: 400px; */
    height: 306px;
    /* background-size: cover; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 10px; */
}