.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.headre__wrapper {
    display: flex;
    flex-grow: 1;
}

.header__store-title {
    color: red;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
}

.header__cart-btn {
    justify-content: flex-end;

}