.console__wrapper {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cartconsole__title {
    font-size: 24px;
    font-weight: 600;

}

.cartconsole__price {
    padding: 0 15px;
    font-weight: 600;
}

.close {
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.close svg {
    width: 16px;
    height: 16px;
}

@media screen and (max-width: 450px) {
    .cartconsole__title {
        font-size: 18px;
    }

}