.order__items-title-console {

    display: flex;
    align-items: center;
    text-align: center;
}

.console__title {
    font-size: 24px;
    font-weight: 600;
    padding: 10px;
}

.order__item-price {

    display: flex;
    align-items: center;
    text-align: center;
}

.console__price {
    font-size: 24px;
    font-weight: 600;
    padding: 10px;

}

.order__cover-console {
    width: 250px;
    height: 320px;
}

.order__item-console {
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.order__item-delete {
    padding: 10px;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .console__price {
        font-size: 18px;
    }

    .console__title {
        font-size: 18px;
    }
}