.game__item {
    text-decoration: none;
    width: 340px;
    height: 340px;
    /* background-color: grey; */
    border-radius: 15px;
    border-bottom: 4px solid white;
    color: #fff;
    cursor: pointer;
    /* margin: 10px; */
    position: relative;

}

.game__item:not(:last-child) {
    margin-bottom: 95px;
    margin-right: 50px;
}

.game__item-title {
    font-size: 18px;
    font-weight: 400;
}

.game__item-genre {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: #ccc; */
    /* width: 100%; */
    /* border-radius: 15px; */
}


.game__item-ditails {
    padding: 10px 20px;
}

.game__item-description {
    margin-top: 10px;
    font-size: 14px;
}

.game__item-btn {
    position: absolute;
    right: 3px;
    /* bottom: 2px; */
    bottom: -75px;
}