.consoles__wrapper {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.consoles {
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.console img {
    object-fit: cover;
}

.console {
    width: 420px;
    height: 425px;
}

.console:not(:last-child) {
    margin-bottom: 30px;
}


@media screen and (max-width: 940px) {
    .consoles {
        justify-content: center;
    }

}

@media screen and (max-width: 500px) {
    .console img {
        width: 320px;
        height: 325px;
    }

    .console:not(:last-child) {
        margin-bottom: 85px;
    }

    h1 {
        font-size: 20px;
    }
}