* {
  font-family: 'Titillium Web', sans-serif;
  background-color: black;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 40px;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}