.game__page {
    display: flex;
}

.game__page-title {
    padding: 15px;
}

.game__page-left {
    width: 60%;
}

.game__page-right {
    width: 30%;
}

.game__page-buy {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.game__page-makrs {
    margin-bottom: 10px;
}


@media screen and (max-width: 900px) {
    .game__page {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .game__page-right {
        width: 50%;
    }

    .game__page-left {
        width: 100%
    }
}

@media screen and (max-width: 400px) {
    .game__page-right {
        width: 100%;
    }

    .game__page-buy {
        margin-bottom: 200px;
    }
}